src/conf/xml-resources/web-service-references/Expal/wsdl/localhost_6161/WSExpal/Expal.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="AlarmasTerminales" type="tns:AlarmasTerminales" />

<xs:element name="AlarmasTerminalesResponse" type="tns:AlarmasTerminalesResponse" />

<xs:element name="Enviardesprendibles" type="tns:Enviardesprendibles" />

<xs:element name="EnviardesprendiblesResponse" type="tns:EnviardesprendiblesResponse" />

<xs:element name="LiqContable" type="tns:LiqContable" />

<xs:element name="LiqContableResponse" type="tns:LiqContableResponse" />

<xs:element name="SeguridadSocial" type="tns:SeguridadSocial" />

<xs:element name="SeguridadSocialResponse" type="tns:SeguridadSocialResponse" />

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:complexType name="SeguridadSocial">
<xs:sequence>
<xs:element name="Empresa" type="xs:string" minOccurs="0" />
<xs:element name="aniomes" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="SeguridadSocialResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="LiqContable">
<xs:sequence />
</xs:complexType>

<xs:complexType name="LiqContableResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="AlarmasTerminales">
<xs:sequence>
<xs:element name="Condicion" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="AlarmasTerminalesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="Enviardesprendibles">
<xs:sequence />
</xs:complexType>

<xs:complexType name="EnviardesprendiblesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>