src/conf/xml-resources/web-service-references/Expal/wsdl/localhost_6161/WSExpal/Expal.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="Expal">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:6161/WSExpal/Expal?xsd=1" />
</xsd:schema>
</types>
<message name="Enviardesprendibles">
<part name="parameters" element="tns:Enviardesprendibles" />
</message>
<message name="EnviardesprendiblesResponse">
<part name="parameters" element="tns:EnviardesprendiblesResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="SeguridadSocial">
<part name="parameters" element="tns:SeguridadSocial" />
</message>
<message name="SeguridadSocialResponse">
<part name="parameters" element="tns:SeguridadSocialResponse" />
</message>
<message name="LiqContable">
<part name="parameters" element="tns:LiqContable" />
</message>
<message name="LiqContableResponse">
<part name="parameters" element="tns:LiqContableResponse" />
</message>
<message name="AlarmasTerminales">
<part name="parameters" element="tns:AlarmasTerminales" />
</message>
<message name="AlarmasTerminalesResponse">
<part name="parameters" element="tns:AlarmasTerminalesResponse" />
</message>
<portType name="Expal">
<operation name="Enviardesprendibles">
<input wsam:Action="http://Servicios/Expal/EnviardesprendiblesRequest" message="tns:Enviardesprendibles" />
<output wsam:Action="http://Servicios/Expal/EnviardesprendiblesResponse" message="tns:EnviardesprendiblesResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://Servicios/Expal/helloRequest" message="tns:hello" />
<output wsam:Action="http://Servicios/Expal/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="SeguridadSocial">
<input wsam:Action="http://Servicios/Expal/SeguridadSocialRequest" message="tns:SeguridadSocial" />
<output wsam:Action="http://Servicios/Expal/SeguridadSocialResponse" message="tns:SeguridadSocialResponse" />
</operation>
<operation name="LiqContable">
<input wsam:Action="http://Servicios/Expal/LiqContableRequest" message="tns:LiqContable" />
<output wsam:Action="http://Servicios/Expal/LiqContableResponse" message="tns:LiqContableResponse" />
</operation>
<operation name="AlarmasTerminales">
<input wsam:Action="http://Servicios/Expal/AlarmasTerminalesRequest" message="tns:AlarmasTerminales" />
<output wsam:Action="http://Servicios/Expal/AlarmasTerminalesResponse" message="tns:AlarmasTerminalesResponse" />
</operation>
</portType>
<binding name="ExpalPortBinding" type="tns:Expal">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="Enviardesprendibles">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="SeguridadSocial">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="LiqContable">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="AlarmasTerminales">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Expal">
<port name="ExpalPort" binding="tns:ExpalPortBinding">
<soap:address location="http://localhost:6161/WSExpal/Expal" />
</port>
</service>
</definitions>